<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="app.css" type="text/css">
    <!-- animsition.css -->
    <link rel="stylesheet" href="../dist/css/animsition.min.css">
    <!-- animsition.js -->
    <script src="../dist/js/animsition.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>MY_WAD_PROJECT</title>

</head>

<body>
    
    <div class="landing"><img src="landing.jpg">
        <div class="header">
                
                 <div class="navhold">
                  <div class="topnav">

                  <a href="/">Home</a>
                  <a href="/add">Add Signing</a>
                  <a href="/sayHello">Contact Us</a>
                  
                  </div>
                </div>
                
                


</div>

