<% include ../partials/header %>
<div class="animsition-overlay" data-animsition-overlay="true">
<div class="container" style= "display:none;">
    
    <h1 style="text-align:center; font-size:14vw; ">TOP 3</h1>
    <h2>Season: 18/19</h2>
    <p>Choose a team to reveal all of their summer signings</p>

    <div id="right">
        <h3>MAN CITY</h3><a href="/contacts" class="animsition-link"><img src="manc.png" class="showcase" alt="Manchester City" style="width:320px;height:320px; border-radius: 50%; position:center;"></a>
        </div>
    
    <div id="left">
            <h3>CHELSEA</h3><a href="/chelsea" class="animsition-link"><img src="chelsea.png" class="showcase" alt="Chelsea" style="width:320px;height:320px; border-radius: 50%; position:center;"></a>
    </div>


    <div id="center">
            <h3>LIVERPOOL</h3><a href="/liverpool" class="animsition-link"><img src="liverpool.png" class="showcase" alt="Liverpool" style="width:320px;height:320px; border-radius: 50%; position:center;"></a>
    </div>

</div>
</div>
<script>
        $(document).ready(function(){
            $('.container').slideDown(1500);
        });
</script>
    








<% include ../partials/footer %>