<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="app.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>MY_WAD_PROJECT</title>

</head>
<body>
        <div class="header">
                <div class="imhold"><img alt="lo" id="poster" class="logiIm" src='/logo.png'></div>
                 <div class="navhold">
                  <div class="topnav">
                  <a href="/">Home</a>
                  <a href="#" >Products</a>
                  <a href="#"  >Add Product</a>
                  <a href="/contacts">Contact</a>
                  </div>
                </div>
                </div>
                



<div class="landing">
</div>


<div class="container" style= "display:none;">
    
    <h1 style="text-align:center; font-size:16vw; ">TOP 6</h1>

    <div id="right">
            <h3>ARSENAL</h3><img src="arsenal.png" class="showcase" alt="Arsenal" style="width:300px;height:300px; border-radius: 50%; position:center;">


    </div>

    <div id="left">


    </div>


    <div id="center">


    </div>


</div>









<script>
	$(document).ready(function(){
		$('.container').slideDown(1500);
	});
</script>
</body>
</html>