<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="app.css" type="text/css">
    <!-- animsition.css -->
    <link rel="stylesheet" href="../dist/css/animsition.min.css">
    <!-- animsition.js -->
    <script src="../dist/js/animsition.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>MY_WAD_PROJECT</title>

</head>
<body>
    
    <div class="landing"> <img src="liverpool.png" id= "banner">
        <div class="header">
                
                 <div class="navhold">
                  <div class="topnav">
                  <a href="/">Home</a>
                  <a href="/contacts">Contact</a>
                  </div>
                </div>
                </div>
                


</div>



<div class="players">


    
</div>


<script>
        $(document).ready(function(){
            $('#banner').slideDown(1200);
        });
    </script>


    <% include ../partials/footer %>