<% include ../partials/header %>



<div class="container">
        <div class="item">     
                  
                <h1 class="itemh">Contact No: <%= contactinfo.contactNo %></h1>
                <h1 class="itemh">Email: <%= contactinfo.emailAdd %></h1>
                <h1 class="itemh">Address: <%= contactinfo.add %></h1>
                
            </div>

</div>


<% include ../partials/footer %>